<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Version 1</title>
<link href="buzzbee.css" rel="stylesheet" type="text/css">
<script type="text/javascript">  
	var RecaptchaOptions = {     
	theme : 'custom',     
	custom_theme_widget: 'recaptcha_widget'  
	}; 
</script> 	
</head>
<body>
<div class="content_wrapper">
	<div class="top_spacer"></div>
	<div class="banner_area">
		<div class="banner_text"></div>
		<div class="link_game"><a href="#" class="link_text">Game Eligibility and Rules</a></div><span style="clear:both"></span>	
		<a class="MS_icon link_text" target="_blank" href="http://www.microsoft.com/"></a><span style="clear:both"></span>
		<a class="Azure_icon link_text" target="_blank" href="http://www.microsoft.com/en-us/cloud/developer/default.aspx?lang=php&fbid=pjFutejxInd"></a><span style="clear:both"></span>
		<a class="PHP_icon link_text" target="_blank" href="http://www.php.net/"></a><span style="clear:both"></span>
		<div class="Powered_text"></div><span style="clear:both"></span>
		<div class="arrow1"></div><span style="clear:both"></span>
		<div class="wheels"></div>
	</div>
		
	<div class="section_wrapper">
		<div class="giveaway_wrapper">
			<div class="giveaway_image"><img src="images\give_kit.jpg" /></div>
			<!-- 
			<div class="giveaway_image"><img src="images\give_mints.jpg" /></div>
			<div class="giveaway_image"><img src="images\give_kit.jpg" /></div>
			<div class="giveaway_image"><img src="images\give_screwDriver.jpg" /></div>
			-->
		</div>
			
		<div class="right_column">
		
			<!-- PLAY button and CAPCHA -->
			<form class="play_form">
			<input type="image" class="play_image" src="images/button_play2.jpg" alt="Submit button">
			
			<div class="capcha_image">  
				<div id="recaptcha_widget">     
					<div id="recaptcha_image" style="width:210px;"></div>    
					<div class="recaptcha_only_if_incorrect_sol" style="color:red">Incorrect please try again</div>     
					<span class="recaptcha_only_if_image">Enter the words above:</span>    
					<span class="recaptcha_only_if_audio">Enter the numbers you hear:</span>     
					<br/><input type="text" id="recaptcha_response_field" name="recaptcha_response_field" />     
					<div><a href="javascript:Recaptcha.reload()"></a></div>    
					<div class="recaptcha_only_if_image"><a href="javascript:Recaptcha.switch_type('audio')">Get an audio CAPTCHA</a></div>    
					<div class="recaptcha_only_if_audio"><a href="javascript:Recaptcha.switch_type('image')">Get an image CAPTCHA</a></div>     
					<div><a href="javascript:Recaptcha.showhelp()">Help</a></div>   
				</div> 
			
				<script type="text/javascript" src="http://www.google.com/recaptcha/api/challenge?k=6LcuI8QSAAAAAI0yv62prN7mrrc1UWHrkSh-3A3G"></script>  
				<noscript><iframe src="http://www.google.com/recaptcha/api/noscript?k=6LcuI8QSAAAAAI0yv62prN7mrrc1UWHrkSh-3A3G" height="84" width="189" frameborder="0"></iframe><br />
				<textarea name="recaptcha_challenge_field" rows="3" cols="40"></textarea>    
				<input type="hidden" name="recaptcha_response_field" value="manual_challenge" />  
				</noscript>
				</div>
			</form>
			
			<div style="clear:both"></div>
			<div class="section_center">
				<div class="text_something"></div>
				<div class="text_azure"></div>
				<div class="arrow2"></div>  
				</div>
			
			
			<div class="comments_list_wrapper">(x) Comments | <a href="#" >Leave a Comment</a>
				<!-- input form for comments -->	
				<div class="comments_list form_bg" style="display: none;">
					<form class="comment_form">
						<div class="input_header">Leave a Comment</div>
						<div class="input_label">Name: </div>
						<div><input class="input_name" type="text" name="name" /></div>
						<div class="input_label">&nbsp;&nbsp;&nbsp;Email: </div>
						<div><input class="input_email" type="text" name="email" /></div>
						<div class="input_label comment_label" >Comment:</div>
						<div><textarea  class="input_comments" name="comments" rows="4" cols="50"></textarea>
						<span style="clear:both;"></span></div>
						<input class="input_button" type="submit" value="Preview" />
						<input class="input_button" type="submit" value="Submit" />
						</form>
					</div>
					
				<!-- List of comments -->	
				<div class="comments_list">
				   <div class="acomment" style="border-bottom: 1px dotted #000;">
					<span class="comment_author">Bob</span>
					<span class="comment_date">September 30, 2011 23:01 PM</span>
					<p class="comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
					
				   </div>
<div class="acomment" style="border-bottom: 1px dotted #000;">
					<span class="comment_author">Bob</span>
					<span class="comment_date">September 30, 2011 23:01 PM</span>
					<p class="comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
					
				   </div>
<div class="acomment" style="border-bottom: 1px dotted #000;">
					<span class="comment_author">Bob</span>
					<span class="comment_date">September 30, 2011 23:01 PM</span>
					<p class="comment">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh</p>
					
				   </div>
					
				</div>
			</div>
			</div>
		
	<span style="clear:both"></span>
	<div class="section_middle">&nbsp;
		<div class="text_know"></div><span style="clear:both"></span>
		<div class="arrow3"></div><span style="clear:both"></span>
		<div class="arrow4"></div><span style="clear:both"></span>
		</div>
	
	<div class="section2_wrapper">
		<div class="peep"></div>
		<div class="left_column2">
			<div class="text_hood"></div><span style="clear:both"></span>
			<div class="arrow5"></div><span style="clear:both"></span>
			<div class="userInput2">
				<p>Winning prizes is fun but for those of you Web developers out there, you might be curious be about what makes this site tick. This site is powered by Windows Azure for PHP. Check out the following resources to learn more about Windows Azure for PHP and get started developing your own site. </p>
				<div class="link_list">
					<ul><li><a href="#">item1</a></li>
					<li><a href="#">item2</a></li>
					<li><a href="#">item3</a></li>
					<li><a href="#">item4</a></li>
					</ul></div>
				<div class="link_list">
					<ul><li><a href="#">item1</a></li>
					<li><a href="#">item2</a></li>
					<li><a href="#">item3</a></li>
					<li><a href="#">item4</a></li>
					</ul></div>
				</div>
			</div>
		<div class="right_column2">
			<div class="image_diagram"></div>
			</div>
		</div>
	</div>
</body>

</html>
